* {
  font-family:'Courier New', Courier, monospace;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: grid;
  background-color: black;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  margin-top: 10px;
}

#grid-container .grid-item {
  background-color: white;
  text-align: center;
  padding: 2px;
  font-size: 30px;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #EEEEEE;
  border: 2px solid lightgray;
  border-radius: 10px;
  z-index: 1;
}

#resize-dimen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-top: 10px;
}

#width, #height {
  width: 50px;
  padding: 2.5px 5px;
  border: 2px solid lightgray;
  border-radius: 7.5px;
}

::placeholder {
  text-align: center;
}

input:focus {
  outline: none;
}

#resize-confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  background-color: #EEEEEE;
  border: 2px solid lightgray;
  border-radius: 7.5px;
  padding: 5px 15px;
}

button:hover {
  background-color: #AAAAAA;
  border-color: gray;
}

#resize-error {
  color: red;
  margin-top: 0;
  margin-bottom: 10px;
}

.slide-container {
  background-color: black;
  border-radius: 0 0 5px 5px;
  padding: 0 10px 5px;
}

/* The slider itself */
.slider {
  margin: 0;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 12.5px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: gray; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}